/*Стили, не соотвествующие данным в компонентах сайта*/

.top-nav a {
	 float: left;
    padding: 0 14px;
    color: #000;
    font-size: 18px;
    transition: all 0.3s;
}

main{
    max-width: 1258px;
    margin: 0 auto;
    padding: 0 63px 73px;
    margin-top: 75px;
    position: relative;
}

main h1{
	/*margin-top: 106px;*/
	font-size: 36px;
	font-weight: 400;
	margin-left: 90px;
	margin-bottom: 25px;
}

main .intro{
	padding-left: 90px;
	margin-bottom: 50px;
}

main .intro p{
	font-size: 18px;
}

.footer-nav a{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

/*...................................................*/


.breadcrumbs{
	display: block;
	margin-top: 187px;
	margin-left: 90px;
}

aside{
	width: 61px;
	height: 100%;
	border-right: 3px solid #ff5a00;
	position: absolute;
	top: -107px;
	left: 50px;
}

.clear{
	clear: both;
}


.story{
	position: relative;
	box-sizing: inherit;
	margin-left: 125px;
	border-bottom: 3px solid #f1edea;
	margin-bottom: 50px;
}

.story p{
	font-size: 14px;
}

.story.last{
	border-bottom: none;
    margin-bottom: 0px;
}

.date{
	width: 90px;
	height: 90px;
	background: #fff;
	border:3px solid #ff5a00;
	border-radius: 1000px;
	position: absolute;
	box-sizing: border-box;
	padding: 33px 8px;
	color: #000;
	font-size: 30px;
	cursor: default;
	left: -123px;
}

.separator-history{
	 width: 100%;
    height: 120px;
    border-top: 3px solid #f1edea;
}

/*-----------Стили слайдера---------------*/
.slider-box{
  position:relative;
  width:900px;
  height:630px;
  overflow:hidden;
  margin-bottom: 20px;
}

.slider{
  position:relative;
  width:10000px;
  height:600px;
}

.slider img{
  float:left;
  height: 600px;
  width: 900px;
}

.bullets{
  position:absolute;
  bottom:0px;
  left:417px;
  height:15px;
  padding:0;
  margin:0;
  list-style:none;
}

.bullets li{
  width:15px;
  height:15px;
  margin:0 10px 0 0;
  padding:0;
  float:left;
  cursor: pointer;
}

.bullets li:before{
	content: " ";
	display: block;
	width: 11px;
	height: 11px;
 	box-shadow: inset 0px 0px 0px 1px #e9e9eb;
 	background: #fff;
  	border: 1px solid #c1c1c3;
  	margin: 2px;
}

.bullets li.active{
  background: #ff5a00;
}

.bullets li.active:before{
	display: none;
}
/*-------------------------------------------------------*/
